.body_image{
    margin-top: 28px;
    position: relative;
    right: 20px;
}
.womanimage{
    height: auto;
    width: 100%;
}
.body_introduction{
    margin-top: 28px;
    color: black;
    font-weight: bold;
}
a.bodylinks:link{
    color:black;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:visited{
    color:black;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:hover{
    color:blue;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:active{
    color:blue;
    text-decoration: underline grey;
    font-weight: bold;
}
.listadesordenada{
    margin-top: 18px;
}
.title_h2{
    margin-top: 32px;
}
.bodystructure{
    line-height: 1.6px;
}