.body_image{
    margin-top: 28px;
    margin-left: 0px;
    padding-left: 0px;
}
.womanimage{
    width: 560px;
    height: 350px;
}
.nimage{
    width: 560px;
    height: 1500px;
}
.body_introduction{
    margin-top: 28px;
    color: black;
    font-weight: bold;
}
a.bodylinks:link{
    color:black;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:visited{
    color:black;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:hover{
    color:blue;
    text-decoration: underline grey;
    font-weight: bold;
}
a.bodylinks:active{
    color:blue;
    text-decoration: underline grey;
    font-weight: bold;
}
.listadesordenada{
    margin-top: 18px;
}
.title_h2{
    margin-top: 32px;
}
.bodystructure{
    line-height: 1.6;
}
.relatedtopics{
    margin-top: 2px;
    border-top: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.relatedtopics_h2{
    margin-top: 1px;
    margin-bottom: 1px;
}
.relatedtopics_ul{
    list-style: none;
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}
.relatedtopics_li{
    list-style: none;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
}
a.relatedtopics_li:link{
    margin-top: 0px;
    margin-left: 0px;
    padding: 8px;
    border: 1px solid grey;
    color: black;
    text-decoration: none;
}
a.relatedtopics_li:visited{
    margin: 0px;
    padding: 5px;
    border: 1px solid grey;
    color: black;
}
a.relatedtopics_li:hover{
    background-color: blue;
    color:white;
}
.country{
    color:grey;
    font-weight: bold;
}