.body_image{
    margin-top: 28px;
}
.womanimagen{
    height: auto;
    width: 330px;
}
.body_introduction{
    margin-top: 28px;
    color: black;
    font-weight: bold;
}
a.body_links:link{
    color:black;
    text-decoration: underline grey;
}
.listadesordenada{
    margin-top: 18px;
}
.title_h2{
    margin-top: 32px;
}