.principaltitle{
    font-size: 30px;
    color: black;
    line-height: 1.15;
    font-weight: bold;
}
.undertitle{
    margin-top: 16px;
}
.undertitle_jorunalist{
    font-size: 14 px;
    line-height: 1.23;
    color: black;
    font-weight: lighter;
    display: inline-block;
}
.undertitle_journal{
    font-size: 14px;
    line-height: 1.23;
    color: grey;
    display: block;
    margin-top: 0px;
}
.header {
    background-color: red;
    padding: 20px;
    text-align: left;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    width: 60%;
}
.format_header{
    width: 100%;
    background-color: red;
}
.upperimage{
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid grey;
    width: 100%;
}
.dateandredes{
    display: table-row;
}
.dateone{
    text-align: left;
    vertical-align: center;
    display: table-cell;
}
.redes{
    display: table-cell;
    text-align: right;
}
.redesdos{
    display: inline-block;
    position: relative;
}
.redestres{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}
.imagen{
    display: inline-block;
    border-right: black;
    list-style: none;
}
.tamañoimagen{
    height: 20px;
    width: 20px;
}
.navlink{
    display: inline;
    list-style: none;
}
.navlinkli{
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}
a.navlinkli:link{
    margin-top: 0px;
    margin-left: 0px;
    padding: 8px;
    border: 1px solid grey;
    color: black;
    text-decoration: none;
}
a.navlinkli:visited{
    margin: 0px;
    padding: 5px;
    border: 1px solid grey;
    color: black;
}
a.navlinkli:hover{
    background-color: blue;
    color:white;
}