.principaltitle{
    font-size: 30px;
    color: black;
    line-height: 1.15;
    font-weight: bold;
}
.undertitle{
    margin-top: 16px;
}
.undertitle_jorunalist{
    font-size: 14 px;
    line-height: 1.23;
    color: black;
    font-weight: lighter;
    display: inline-block;
}
.undertitle_journal{
    font-size: 14px;
    line-height: 1.23;
    color: grey;
    display: block;
    margin-top: 0px;
}
.header {
    background-color: red;
    padding: 20px;
    text-align: left;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    width: 60%;
  }
.format_header{
    width: 100%;
    background-color: red;
}
