.firstnav {
    padding-top: 12px;
}
.firstnav_journalistname{
    color:black;
    display: block;
    font-size: 16px;
}
.firstnav_journalname{
    padding-top: 2px;
    color:grey;
    display: block;
    font-size: 16px;
}
.secondnav_dateandlinks{
    margin-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
}
.navdate{
    text-align: left;
    font-weight: lighter;
}
ul.navdate{
    display: none;
}
li.navdate{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding-bottom: 2px;
}
.navlink{
    display: none;
    text-align: left;
    vertical-align: middle;
}
li.navlink{
    color:black;
    padding: 3 px;
    border: 1px solid grey;
    display: inline-block;
}
a.navlink:link {
    text-decoration: none;
    background-color: white;
    color: black;
  }
  
a.navlink:visited {
    text-decoration: none;
    background-color: white;
    color: black;
  }
  
a.navlink:hover {
    text-decoration: none;
    background-color: blue;
    color: white;
  }
  
a.navlink.active {
    text-decoration: none;
    background-color: blue;
    color: white;
  }