.format_navone{
    width: 100%;
    height: 30px;
    background-color: rgb(109, 15, 15);
}
.format_navonelittle{
    background-color:  rgb(109, 15, 15);
    text-align: center;
    color:white;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    width: 60%;
}
.format_li{
    display: inline-block;
}
a.linksnavone:link {
    color: white;
    text-align: left;
    text-decoration: none;
    border-right: 10px white;
    font-weight: bold;
    background-color:rgb(109, 15, 15);
    vertical-align: middle;
}
a.linksnavone:visited {
    color: white;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    border-right: 1px white;
    font-weight: bold;
    background-color:rgb(109, 15, 15);
    vertical-align: middle;
}
.linksnavone a:hover {
        text-decoration: underline white;
}
.linksnavone a:active {
    text-decoration: underline white;
}

