.format_navone{
    margin-top: 0px;
    width: 100%;
    background-color: red;
}
.linksnavone a {
    color: #f2f2f2;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    border-right: 1px white;
    font-weight: bold;
    background-color: red;
}
  
  /* Change color on hover */
.linksnavone a:hover {
    text-decoration: underline white;
}
.linksnavone a:link {
    text-decoration:none;
    color: white;
    background-color: red;
}
.format_colournav{
    margin: auto;
    width: 60%;
    background-color: red);
}